* {
    padding: 0;
    margin: 0;
}
.hide {
    display: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*background-color: #f5efef;*/
    font-size: 20px;
}

/* HEADER */
header {
    background-color: #a5c0b8;
    color: white;
    width: auto;
    padding: 10px 30px 10px 30px;
}

#firstTextHeader {
    text-align: center;
    font-size: 16px;
}

.firstContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; /* THIS IS THE HAND */
    align-items: center;
    padding-bottom: 10px;
}

#logo {
    max-width: 300px;
}

.searchBar{
    width: 450px;
    padding: 5px;
}

.magnifying-glass{
    width: 100px;
    height: 30px;
    background-color: #2eb8b8;
    color: white;
    font-size: 18px;
    border: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    /*max-width: 1000px;*/
    background-color: #87aba0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}

.menu a:hover{
    opacity: 0.5;
}

/* SCREEN1 */
.statusBar{
    text-align: center;
    padding-top: 10px;
}

/* TABLA CARRO DE COMPRAS */
.table1 {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 30px;
    border-collapse: collapse;
}

.table1 th {
    background: #d3d3d3;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    border: 1px dotted #000;
    border-collapse: collapse; 
    padding: 20px;
}

.table1 td {
    vertical-align: top;
    text-align: center;
    padding-top: 10px;
    background: #fff;
}

/*.table1 .bgTable {
    background-color: #f5efef;
}*/

.button {
    display: flex;
    width: 250px;
    height: 50px;
    background-color: #2eb8b8;
    color: white;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: .5em;
}

.firstButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.secondButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

.buttonHide {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 250px;
    height: 50px;
    font-size: 18px;
    border-radius: .5em;
    justify-content: center;
    align-items: center;
}


#screen1, #screen2, #screen3 {
    background-color: #f5efef;
    width: 100%;
    height: auto;
}

#productScreen1 {
    max-width: 200px;
}

#productScreen2 {
    max-width: 200px;
}

.sectionShopping {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    /*width: 100%;*/
}

#shoppingResume {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin-right: 20px;
    border-radius: .8em;
    padding: 20px;
   /*justify-content: center;
    align-items: center;*/
}

#cardValidation {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    width: 710px;
    background: #fff;
    padding: 20px;
    border-radius: .8em;
}

#creditCardImage {
    width: 100%;
    height: auto;
    min-width: 300px;
}

.creditCardNumber {
    width: 220px;
    height: 35px;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 16px;
}

#month, #year, #cvv {
    width: 100px;
    height: 35px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding-left: 10px;
    text-align: left;
    font-size: 16px;
}

::placeholder{
    font-size: 16px;
}

#returnMessage {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: rgb(25, 202, 25);
}

#returnErrorMessage {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: red;
}

.thanksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 30px; */
}

.lastImage {
    padding:20px;
    width: 400px;
}

footer {
    background-color: #a5c0b8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    width: auto;
    padding: 10px 30px 10px 30px;
    color: white;
}

ul {
    list-style: none;
}

li:nth-child(1) {
    font-weight: bold;
    font-size: 20px;
}

li {
    font-size: 18px;
}

hr {
    border-top: 1px solid #000;
}

#webpay {
    max-width: 150px;
}

.fa {
    padding: 15px;
    font-size: 30px;
    width: 10px;
    height: 10px;
    border-radius: .3em;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  